#signup {

    padding-top: 100px;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        @include lg {
            width: 60%;
        }

        @include lg {
            width: 45%;
        }

        form {
            display: grid;
            gap: 0 2rem;
        }
    }
}
